---
import { fetchArticles } from "../lib/fetch-articles";

const featuredArticle = await fetchArticles({ featured: true });

const { class: className } = Astro.props;
---

<div class:list={[className, "featured-article-container"]}>
  <h2 class="visually-hidden">Featured Article</h2>
  <article>
    <img src={`${featuredArticle[0].data?.coverImage}`} alt="cover-image" />
    <h3>{featuredArticle[0].data?.title}</h3>
    <div class="flow">
      <p>
        {featuredArticle[0].data?.content}
      </p>
      <a href={`/article/${featuredArticle[0]?._id}`} class="button">
        Read More
        <span class="visually-hidden"> Lorem ipsum dolor sit amet. </span>
      </a>
    </div>
  </article>
</div>

<style>
  .featured-article-container {
    container-type: inline-size;
  }

  article {
    display: grid;
    gap: 1rem;

    @container (width > calc(25ch * 2)) {
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  img {
    grid-column: 1 / -1;
  }
  h3 {
    font-size: var(--fs-900);
  }
</style>
