---
const { class: className } = Astro.props;
---

<div class:list={[className, "featured-article-container"]}>
  <h2 class="visually-hidden">Featured Article</h2>
  <article>
    <img src="/blog-placeholder-1.jpg" alt="image" />
    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
    <div class="flow">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis error
        architecto temporibus voluptatem illum necessitatibus adipisci
        cupiditate natus eum harum ab ea, molestiae excepturi iusto veritatis
        assumenda ipsum hic quod.
      </p>
      <a href="#" class="button">
        Read More
        <span class="visually-hidden"> Lorem ipsum dolor sit amet. </span>
      </a>
    </div>
  </article>
</div>

<style>
  .featured-article-container {
    container-type: inline-size;
  }

  article {
    display: grid;
    gap: 1rem;

    @container (width > calc(25ch * 2)) {
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  img {
    grid-column: 1 / -1;
  }
  h3 {
    font-size: var(--fs-900);
  }
</style>
