<footer class="py-4">
  <div class="max-w-2xl mx-auto text-center">
    <div class="mt-2">
      &copy; 2025 Built with 🧡
      <a
        href="https://astro.build/"
        target="_blank"
        class="text-blue-600 hover:underline">Astro</a
      >
      <span>+</span>
      <a
        href="https://www.wix.com/studio"
        target="_blank"
        class="text-blue-600 hover:underline">Wix</a
      >
    </div>
  </div>
</footer>
