---
import { fetchArticles } from "../lib/fetch-articles";

const newArticles = await fetchArticles({ limit: 3, isNew: true });
// console.log(newArticles, "new articles");

const { class: className } = Astro.props;
---

<div class:list={className}>
  <h2 class="accent-color">New</h2>
  <ul role="list" class="separated-list">
    {
      newArticles.map((article) => (
        <li>
          <article class="flow">
            <h3>
              <a href={`/article/${article?._id}`}>{article.data?.title}</a>
            </h3>
            <p class="truncate-text">{article.data?.content}</p>
          </article>
        </li>
      ))
    }
  </ul>
</div>
