---
import Featured from "../componenets/Featured.astro";
import Popular from "../componenets/Popular.astro";
import New from "../componenets/New.astro";
import RootLayout from "../layouts/RootLayout.astro";

import { fetchArticles } from "../lib/fetch-articles";

const articles = await fetchArticles({});
console.log(articles.length, "articles");
---

<RootLayout>
  <div class="three-columns section">
    <!-- Featured articles -->
    <Featured class="span-2" />

    <!-- New articles -->
    <New class="inverted flow" />
  </div>

  <!-- Popular articles -->
  <Popular class="three-columns section" />
</RootLayout>
